<!-- Modal    update -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content d inline">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update your profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             
             
             </div >
                <div class="p-2">
                    <form action="{% url 'profile' %}" method="POST" class=" d-inline " enctype="multipart/form-data">
  
                          {% csrf_token %}
                          {{ profilform.as_p }}
                      
                      {% if form.non_field_errors %}
                          {% for error in form.non_field_errors %}
                              <p class="alert alert-danger my-3">{{error}}</p>
                          {% endfor %}
                      {% endif %}
                  
                  <input type="submit" name="" id="" value="Save" class="btn btn-success" >
                  </form>
                  
                  <form action="{% url 'profile' %}" class="d-inline">
                  <input type="submit" name="" id="" value="cencle" class="btn btn-danger btn" >
                  </form>
               </div>
  
      </div>
    </div>
  </div>